config.py
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/multiplication.cpython-313.pyc
__pycache__/user.cpython-313.pyc
.gitignore
__pycache__/words.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/config.cpython-310.pyc
__pycache__/multiplication.cpython-310.pyc
__pycache__/user.cpython-310.pyc
__pycache__/words.cpython-310.pyc
